<header class="header">
    <a href="./index.html" class="link">
        <img src="./img/logo-header.svg" class="logo" alt="Лого" />
    </a>
    <div class="blok_links">
        <a href="" class="link">Каталог</a>
        <a href="" class="link">Вет клiнiка</a>
        <a href="" class="link">Про компанiю</a>
        <a href="" class="link">Контакти</a>
        <a href="" class="link"><span class="active-lang">UA</span><span>RU</span></a>
        <a href="tel:+380632306007" class="link"><svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.21778 7.42444C4.49778 9.94 6.56 11.9933 9.07556 13.2822L11.0311 11.3267C11.2711 11.0867 11.6267 11.0067 11.9378 11.1133C12.9333 11.4422 14.0089 11.62 15.1111 11.62C15.6 11.62 16 12.02 16 12.5089V15.6111C16 16.1 15.6 16.5 15.1111 16.5C6.76444 16.5 0 9.73556 0 1.38889C0 0.9 0.4 0.5 0.888889 0.5H4C4.48889 0.5 4.88889 0.9 4.88889 1.38889C4.88889 2.5 5.06667 3.56667 5.39556 4.56222C5.49333 4.87333 5.42222 5.22 5.17333 5.46889L3.21778 7.42444Z"
                    fill="#F6FFF8" />
            </svg>
            +38 063 230 60 07</a>
    </div>
    <button type="button" class="burger" data-menu-open><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1313_3065)">
                <path d="M9.24388 7.96472H27.7914" stroke="#2F6C07" stroke-width="2.63822" stroke-linecap="round" />
                <path d="M2.20865 15L27.7914 15" stroke="#2F6C07" stroke-width="2.63822" stroke-linecap="round" />
                <path d="M15 22.0352L27.7914 22.0352" stroke="#2F6C07" stroke-width="2.63822"
                    stroke-linecap="round" />
            </g>
            <defs>
                <clipPath id="clip0_1313_3065">
                    <rect width="28.141" height="28.141" fill="white" transform="translate(0.929504 0.929443)" />
                </clipPath>
            </defs>
        </svg></button>
</header>